.displayBlock {
    text-align: center;
    color: #161925;
    background-color: #CBF7ED;
    min-width: 200px;
    min-height: 200px;
    outline: none;
    text-decoration: none;
}

.hidden {
    visibility: hidden;
}

.normalMode {
    opacity: 0.5;
    text-decoration: none;
}

.textContent {
    width: 160px;
    height: 160px;
    display: table-cell;
    text-align: center;    
    vertical-align: middle;
}