<div class="container">
    <div class="row">
        <h2>The Game</h2>

        <form *ngIf="!difficultySet" id="diff" [formGroup]="difficultySelection" (ngSubmit)="selectDifficulty()">
            <select formControlName="difficulty">
                <option [ngValue]="null" [disabled]="true">Select Difficulty</option>
                <option *ngFor="let d of difficulties()" 
                [ngValue]="d">{{ d }}</option>                
            </select>

            <button type="submit">Submit</button>
        </form>

    </div>


    <app-memory-blocks *ngIf="difficultySet" [difficulty]="selectDifficulty()"
    ></app-memory-blocks>
</div>