<button class="gameHeader" (click)="reset()" type="button">New Game</button>
<button class="gameHeader" [disabled]="gameCompleted" (click)="revealBtn()" type="button">Reveal All</button>

<h4 *ngIf="attemptsRemaining > 0" class="gameHeader">Attempts Remaining: {{ attemptsRemaining }} |</h4>
<h4 class="gameHeader">Score: {{ playerScore }}</h4>
<h4 class="gameHeader" *ngIf="gameCompleted">| {{ endOfGameMsg }} </h4>
<br>

<div class="game-display">
    <!-- <div class="memoryBlock" *ngFor="let t of [].constructor(test)"> -->    
    <br>
    <div class="memoryBlock" *ngFor="let w of words; let i = index" [ngClass]="{'hidden': false}">
        <app-block-display [selWord]="words[i].assignedWord" [indexNum]="i" [displayBlock]="words[i]"            
            (click)="selectBlock(i)" (completedStatus)="checkCompletedStatus($event)"></app-block-display>
        <!-- (selectedIndex)="setSelectedIndex($event)" -->
    </div>
</div>