<div class="game-display">
    <!-- <div class="memoryBlock" *ngFor="let t of [].constructor(test)"> -->
        <h3>Score: {{ playerScore }}</h3>
        <br>
    <div class="memoryBlock" *ngFor="let w of words; let i = index">   
        <app-block-display [setDisplayStatus]="displayStatus.asObservable()"
            [setCompletedStatus]="markCompleted.asObservable()"
            [indexMarkSetSelected]="indexSelection.asObservable()"
            [selWord]="words[i]" [indexNum]="i"     
            (click)="selectBlock(i)"       
            ></app-block-display>                               
            <!-- (selectedIndex)="setSelectedIndex($event)" -->
    </div>
</div>